*{
    margin: 0;
    padding: 0;
    outline: 0;
}

/*
font-family: 'Pacifico', cursive;
 */

/*
 ################################################
 --------for login --------------------------
 ################################################
 */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.login_welcome{
  font-family: 'Nosifer', cursive;
    font-weight: 800;
    font-size: 30px;
    margin-top: 60px;
}

.save_department{
    margin-top: 4%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    border: 1px solid #80ccff;
}
.department_form{
    margin-top: 5%;
    margin-bottom: 5%;
}

.admin_top_text{
    margin-top: 20px;
}
.save_button{
    border: 1px solid #80ccff;
}

.form-horizontal .control-label{
    text-align: left !important;
}
.course_assign{
    margin-top: 5%;
    margin-bottom: 5%;
}

/*Custom css*/

body{
  background: url(../images/background-image.jpg)  center center fixed ;
  background-size: cover;


}
